* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.footer-container {
  background-color: #5a5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 4rem;
}

.food-zone-card {
  width: 25%;
  padding: 5px;
}

.food-zone-title {
  font-family: "Sofia", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
}

.food-zone-text {
  font-size: 0.7rem;
  margin-top: 1rem;
  color: #dfdfdf;
}

.social-media-icons {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}

.social-media-icon-img {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list-card {
  display: flex;
  flex-direction: column;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.footer-list-title {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 5px;
  font-weight: 600;
}

.item-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  text-decoration: none;
  color: #dfdfdf;
  padding: 2px;
}
.item-links-arrows {
  font-size: 0.5rem;
}

.contact-us-card {
  display: flex;
  flex-direction: column;
}
.contact-img-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.img-icon {
  background-color: #ffbf4c;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  font-size: 0.6rem;
  color: #dfdfdf;
}

.download-app-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download-app-text {
  font-size: 0.6rem;
  color: #dfdfdf;
}

.download-app-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-app-img {
  margin-top: 1rem;
  color: #fff;
  height: 35px;
}

.copywrite-container {
  background-color: #424242;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copywrite {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 912px) {
  html {
    font-size: 16px;
  }
  .download-app-card {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 15px;
  }
  .download-app-card {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem;
    width: 80vw;
  }
  .food-zone-card {
    width: 100%;
    padding: 5px;
  }
  .footer-list-card {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .contact-us-card {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}
